<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
<%- messages() %>

<h2>
  Welcome <%= account_firstname %>
</h2>
<p>You're logged in.</p>
<p ><a class="linkstyle" href="/account/update/<%= locals.account_id %>">Edit Account Information</a></p>


<% if (locals.account_type === 'Employee' || locals.account_type === 'Admin') { %>
  <h3>Inventory Management</h3>
  <p><a class="linkstyle" href="/inv">Manage Inventory</a></p>
<% } %>


<h2>My reviews</h2>
<div id="reviewsUser">
  <%- reviewsUser %>
</div>