<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>
<%- section %>

<h2>Customer Reviews</h2>

<div id="reviews">
  <%- reviews %>
</div>

<% if (isLoggedIn) { %>
<div class="review-container">
  <form class="reviewform" action="/review/add-review" method="post">
    <fieldset>

      <label for="screen_name">Screen Name:</label>
      <input type="text" readonly name="screen_name" id="screen_name" required value="<%= locals.screen_name %>">
      
      <label for="review_text">Add Your Review</label>
      <textarea id="review_text" name="review_text" required></textarea>

      <input type="hidden" name="inv_id" value="<%= locals.inv_id %>">
      <input type="hidden" name="account_id" value="<%= locals.account_id %>">
      <input type="hidden" name="classification_id" value="<%= locals.classification_id %>">

      <button type="submit">Submit Review</button>
    </fieldset>
  </form>
</div>
<% } else { %>
  <p>You must <a href="/account/login">login</a> to write a review.</p>
<% } %>