<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<%- messages() %>
<%- section %>

<h2>Customer Reviews</h2>

<div id="reviews">
  <%- reviews %>
</div>

<% if (isLoggedIn) { %>
  <% if (errors && errors.length > 0) { %>
    <ul class="error-messages">
      <% errors.forEach(error => { %>
        <li><%= error.msg %></li>
      <% }) %>
    </ul>
  <% } %>
  <form action="/review/add-review" method="post">
    
    <label for="review_text">Add Your Review</label>
    <textarea id="review_text" name="review_text" required></textarea>

    <input type="hidden" name="inv_id" value="<%= locals.inv_id %>">
    <input type="hidden" name="account_id" value="<%= locals.account_id %>">

    <button type="submit">Submit Review</button>
  </form>
<% } else { %>
  <p>You must <a href="/account/login">login</a> to write a review.</p>
<% } %>