<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>
  <% if (errors) { %>
  <ul class="notice">
  <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
  <%  }) %>
  </ul>
  <% } %>
  
  <div class="login-container">
    <form id="editForm" action="/review/delete-review" method="post">
        <fieldset>
            <legend>Delete Review</legend>
            <label for="review_date">Review Date: </label>
            <input type="text" readonly name="review_date" id="review_date"  required value="<%= locals.review_date %>">
        
            <label for="review_text">Review text: </label>
            <textarea id="review_text" readonly name="review_text" required><%= locals.review_text %></textarea>

            <input type="hidden" name="review_id" value="<%= locals.review_id %>">
        
            <button  type="submit" >Delete </button>
        </fieldset>
    </form>
  
  </div>
   
